html
    head
        title='test pug'
        style
            include styles.css
    body
        h1='no hay productos en la lista' 
        a(href="http://localhost:8080/form")='volver al listado' 
        
            