<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
   
    <a  href="http://localhost:8080/form">ir al formulario</a>

    <h1>No hay productos para mostrar! </h1>


    <%- include('../partials/footer'); %> 
  </body>
</html>